.btn {
  display: block;
  padding: 2.2rem 7.1rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: $white-color;
  text-align: center;
  text-decoration: none;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  outline: none;
  cursor: pointer;

  &--purple {
    background-color: $purple-color;
  }

  &--blue {
    background-color: $light-blue-color;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  }
}
