.card {
  max-width: 36rem;
  margin-bottom: 4.3rem;
  padding: 2.6rem 2.3rem;
  color: $white-color;
  border-radius: 12px;

  &__image {
    max-width: 8rem;
    height: 9rem;
    margin: auto 1.7rem auto 0;
    background-color: $white-color;
  }

  &__heading,
  &__text {
    font-weight: 400;
  }

  &__heading {
    font-size: 2.7rem;
  }

  &__text {
    font-size: 1.7rem;
    line-height: 2.1rem;
  }

  &__link {
    display: inline-block;
    position: relative;
    margin-top: 3rem;
    color: $white-color;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;

    &:active,
    &:visited {
      color: $white-color;
      text-decoration: none;
    }

    &::after {
      position: absolute;
      right: -3rem;
      top: 0.3rem;
      width: 1.6rem;
      height: 1.3rem;
      background: url('../public/arrow-right.png');
      background-size: cover;
      content: '';
    }
  }

  &--dark-pink {
    background-color: $dark-pink-color;
  }

  &--purple {
    background-color: $purple-color;
  }

  &--dark-blue {
    background-color: $dark-blue-color;
  }

  &--light-pink {
    background-color: $light-pink-color;
  }

  &--light-orange {
    background-color: $light-orange-color;
  }

  &--light-blue {
    background-color: $light-blue-color;
  }
}
