.product {
  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 5rem;
    margin: 7.5rem auto 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    border: 0.5px solid black;
  }

  &__title {
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 5rem;

    span {
      font-weight: 600;
    }
  }

  &__description {
    max-width: 74rem;
    margin: 1.9rem auto;
    font-size: 3.1rem;
    text-align: center;
    line-height: 3rem;
    color: $light-gray-color;

    @include media(phone) {
      margin-bottom: -1.5rem;
    }
  }

  &__request {
    margin: 5rem auto 8rem;
  }

  &__image {
    width: 70rem;
    height: 40rem;
    margin: 0 auto 10rem;
    border: 1px solid $light-gray-color;
    border-radius: 2.4rem;

    @include media(phone) {
      max-width: 100%;
      height: 28rem;
      margin: 0 auto 6rem;
    }
  }

  &__features {
    position: relative;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 7rem;

    .product__feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &-img {
        width: 17rem;
        height: 14rem;
        margin-bottom: 1.5rem;
        border: 1px solid $dark-gray-color;
        border-radius: 0.8rem;
      }

      &-title {
        margin-bottom: 4rem;
        font-size: 2.2rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-description {
        max-width: 70%;
        margin: 0 auto;
      }

      @include media(phone) {
        &:not(:last-child) {
          margin-bottom: 5rem;
        }
      }
    }

    &::after {
      position: absolute;
      bottom: -15.25px;
      left: -50vw;
      width: 200vw;
      height: 1px;
      background: $dark-gray-color;
      content: '';

      @include media(big-desktop) {
        bottom: -18.3px;
        height: 1.5px;
      }

      @include media(tab-port) {
        bottom: -13.75px;
      }

      @include media(phone) {
        bottom: -12.75px;
      }
    }
  }
}
