.section-hero {
  padding-top: 8rem;

  &__heading {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  &__text {
    line-height: 2.4rem;
  }

  &__image {
    width: 95%;
    margin-left: auto;
    height: 30rem;
    border: 1px solid #707070;
    border-radius: 2rem;
  }

  @include media(phone) {
    text-align: center;

    &__text {
      margin-bottom: 4rem;
    }

    &__image {
      margin: 0 auto;
    }
  }
}

.section-features {
  position: relative;
  padding: 8rem 0 13rem;

  &::after {
    position: absolute;
    bottom: 0rem;
    left: -25rem;
    width: 139vw;
    height: 18rem;
    background: url('../public/line-curve.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';

    @include media(tab-port) {
      left: -19rem;
    }

    @include media(phone) {
      left: -12rem;
    }
  }

  @include media(phone) {
    justify-content: center;
  }
}

.section-about {
  position: relative;
  padding: 13rem 0;
  color: $white-color;

  .heading {
    font-size: 4.1rem;
    font-weight: 600;

    &--small {
      font-size: 3.8rem;
    }
  }

  .text {
    font-size: 1.8rem;
  }

  .image-square {
    width: 42rem;
    height: 37rem;
    margin-left: auto;
    border-radius: 2.4rem;
    background-color: $white-color;
  }

  &__header {
    .content {
      margin: auto 0;

      .text {
        max-width: 56rem;
      }
    }
  }

  .team__heading {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: -2.5rem;
  }

  &__team {
    margin-top: 10rem;

    .person {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;

      &__image {
        width: 19.4rem;
        height: 19.4rem;
        border-radius: 50%;
        background-color: $white-color;
      }

      &__name {
        margin-bottom: 0.1rem;
        font-size: 2.2rem;
        font-weight: 500;
      }
    }
  }

  &__stack {
    margin-top: 10rem;

    .stack__image {
      width: 36rem;
      height: 32.6rem;
      margin: auto auto auto 0;
      background: url('../public/squares.png');
      background-size: cover;
    }

    .heading,
    .text {
      text-align: right;
    }
  }

  @include media(phone) {
    padding: 8rem 0;
    text-align: center;

    .image-square {
      max-width: 100%;
      margin: 1rem auto 0;
    }

    .stack__image {
      margin: 0 auto;
    }

    &__stack {
      .heading,
      .text {
        text-align: center;
      }
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100%;
    background-color: $dark-blue-color;
    z-index: -1;
    content: '';
  }
}
