/// Regular font family
$text-font-stack: 'Montserrat', 'Open Sans', 'Helvetica Neue Light',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$text-color: #012229 !default;

$white-color: #ffffff;
$black-color: #454545 !default;
$dark-gray-color: #707070 !default;
$light-gray-color: #999999 !default;

$dark-blue-color: #0b2840 !default;
$light-blue-color: #0385e6 !default;

$dark-pink-color: #dca3c8 !default;
$light-pink-color: #ff8b8b !default;
$light-orange-color: #feb58d !default;

$purple-color: #887ee1 !default;

/// Container's maximum width
$max-width: 114rem !default;
