.footer {
  padding: 8rem 0 2rem;
  font-size: 1.7rem;
  color: $white-color;
  background-color: $dark-blue-color;
  border-top: 1px solid $dark-gray-color;

  .company {
    font-weight: 500;
  }

  &__company {
    margin-top: 10rem;

    @include media(tab-port) {
      &:not(.footer__company--mobile) {
        visibility: hidden;
        margin-top: 6rem;
      }
    }

    &--mobile {
      margin: 4rem auto;

      @media only screen and (min-width: 56.25em) {
        display: none;
      }
    }
  }

  &__heading {
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.1rem;

    &--main {
      @include media(tab-port) {
        text-align: center;
      }
    }
  }

  &__btn {
    margin-top: 4rem;

    @include media(tab-port) {
      max-width: 40rem;
      margin: 4rem auto;
    }
  }

  &__list {
    padding-left: 0;
    padding-bottom: 0.75rem;
    list-style-type: none;

    li {
      margin-bottom: 1.4rem;
    }

    &--bold {
      li {
        position: relative;
        left: 3rem;
        font-weight: 500;

        &::before {
          position: absolute;
          left: -3rem;
          top: 0;
          width: 2.1rem;
          height: 2.1rem;
          background: $white-color;
          border: 1px solid $dark-gray-color;
          content: '';
        }
      }
    }
  }

  @include media(phone) {
    .footer__heading,
    .company,
    .address {
      text-align: center;
    }

    .footer__list {
      max-width: 23rem;
      margin: 2rem auto;
    }

    .company {
      margin-top: 4rem;
    }
  }
}
