.header {
  padding: 5rem 0 2rem;
  font-size: 1.7rem;

  &__nav {
    display: flex;
    align-items: center;
    height: 8rem;

    a {
      position: relative;
      margin-right: 3.25rem;
      color: $text-color;
      text-decoration: none;
      cursor: pointer;
    }

    a:first-child {
      margin-right: auto;
    }

    a:not(:first-child):hover:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      content: '';
    }

    &--mobile {
      display: none;
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
      background-color: $white-color;
      z-index: 1;

      .header__nav {
        height: 6.5rem;
        padding: 0 2rem;
        border-bottom: 1.5px solid #707070;
      }

      .header__logo {
        width: 30rem;
        height: 4.5rem;
        border: 1px solid #707070;
        border-radius: 6px;
      }

      .header__nav__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 0;
        font-size: 2rem;
        background-color: $white-color;

        a {
          display: block;
          width: 100%;
          text-align: center;
          visibility: hidden;

          &:hover:after {
            display: none;
          }
        }

        &--visible {
          height: 22rem;
          border-bottom: 1.5px solid #707070;
          visibility: visible;
          animation: fadeIn 0.4s both;

          a {
            visibility: visible;
          }
        }
      }

      @include media('tab-port') {
        display: block;
      }
    }

    &--desktop {
      @include media('tab-port') {
        display: none;
      }
    }
  }

  &__logo {
    width: 30rem;
    height: 6rem;
    border: 1px solid #707070;
    border-radius: 14px;
  }

  &__phone {
    max-width: 13rem;
  }

  &__menu {
    max-width: 3.75rem;
    cursor: pointer;
  }
}
