extends layout.pug
include mixins

block content
  section.section-hero.row#home
    .col-xs-12.col-sm-6
      h1.section-hero__heading Prevention. Detection. Investigation.
      p.section-hero__text
        |Some description text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        |in voluptate velit esse cillum.
    .col-xs-12.col-sm-6
      .section-hero__image

  section.section-features.container.row.between-xs.around-sm
    +card('Investigator')(class='card--dark-pink')
    +card('Exchange?')(class='card--purple')
    +card('Merchant?')(class='card--dark-blue')
    +card('Charity? ')(class='card--light-pink')
    +card('Developer?')(class='card--light-orange')
    +card('Individual?')(class='card--light-blue')

  section.section-products.container#products
    +product-section('now available', 'Hub', 'Discover. Uncover. Investigate.', ' The all-in-one investigation companion.')
    +product-features('CAPTURE.', 'Save screencaps of money flowing. Automatically annotated with any useful', 'ANNOTATE.', 'Add manual annotations and document your investigation.', 'PROFILE.', 'Create sophisticated entity profiles for each case. Can be used in court cases')
    +product-section('coming soon', 'RPMS', 'Monitor suspicious transactions. ', ' Report and act on customer risk scores.', 'Be alerted when fraudulent funds are received')
    +product-features('RISK SCORES.', 'Risk scores calculated in real-time.', 'MONITORING.', 'Monitor all transactions - powered by our OSINT.', 'REPORTING.', 'Powerful data reporting for users, populations and transactions.')
 
  section.section-about.container#about
    .section-about__header.row
      .content.col-xs-12.col-sm-6
        p.heading About Chainsear.ch
        p.text 
          |Some description text. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          |irure dolor in reprehenderit in voluptate velit esse.
      .col-xs-12.col-sm-6
        .image-square

    p.team__heading.heading.heading--small Executive Team
    .section-about__team.row.between-xs.center-sm
      .person.col-xs-12.col-sm-6.col-md-4
        .person__image
        p.person__name Another Name
        p.person__position CEO, Founder
      .person.col-xs-12.col-sm-6.col-md-4
        .person__image
        p.person__name Another Name
        p.person__position Another Role
      .person.col-xs-12.col-sm-6.col-md-4
        .person__image
        p.person__name Another Name
        p.person__position Another Role
    
    .section-about__stack.row
      .col-xs-12.col-sm-6
        .stack__image
      .stack__text.col-xs-12.col-sm-6
        p.heading Our Stack
        p.text 
          |Some description text. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          br
          br
          |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
          |nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          |in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          br
          br
          |Excepteur sint occaecat cupidatat non proident,
          |sunt in culpa qui officia deserunt mollit anim id est laborum.