doctype html
html(lang='en')
  head
    title Chainsearch.sh
    meta(name='description', content='BellaBaby - детские автокресла оптом')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,600', rel='stylesheet')
  body
    header.header
      .container
        nav.header__nav.header__nav--desktop
          a(href="") 
            .header__logo
          a(href="#home") Home
          a(href="#products") Products
          a(href="#about") About
          a Blog
          a Login

          a(href="") 
        nav.header__nav.header__nav--mobile
          .header__nav
            a(href="#hero")
              .header__logo
            img.header__menu(src="./public/menu.svg", alt="")
          .header__nav__content 
            a(href="#home") Home
            a(href="#products") Products
            a(href="#about") About
            a Blog
            a Login
    main.container
      block content
    footer.footer
      .container
        .row
          .footer__request.col-xs-12.col-md-4
            .footer__heading.footer__heading--main  See into the blockchain with Chainsear.ch.
            a.footer__btn.btn.btn--blue Request a demo
            p.footer__company © 2019 Chainsear.ch, Inc.
          .footer__about.col-xs-12.col-sm-3.col-sm-offset-2.col-md-offset-0.col-md-3.col-md-offset-1
            .footer__heading About
            ul.footer__list
              li About the Team
              li Careers at Chainsear.ch
              li Privacy Policy
              li Cookie Policy
          .footer__contact.col-xs-12.col-sm-3.col-sm-offset-2.col-md-4.col-md-offset-0
            .footer__heading Contact Us
            ul.footer__list.footer__list--bold
              li info@chainsear.ch
              li Careeers link
              li Blog link
              li Twitter link
            p.company Chainsear.ch Inc.
            p.address Address, City, Country
          p.footer__company.footer__company--mobile © 2019 Chainsear.ch, Inc.

            