mixin card(heading)
  .card(class!=attributes.class).row.col-xs-12.col-sm-6.col-md-4
    .card__image.col-xs-4
    .card__content.col-xs-8
      h3.card__heading= heading
      p.card__text
        |Some description text. Lorem ipsum dolor sit amet, consectetur
        |adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud 
      a.card__link Get started 

mixin product-section(status, name, ...subtitles)
  article.product
    .product__status= status
    h2.product__title= 'Chainsear.ch ' 
      span= name
    each subtitle in subtitles
      p.product__description= subtitle
    button.btn.btn--purple.product__request Request a demo
    .product__image

mixin product-features(feature_title_1, feature_text_1, feature_title_2, feature_text_2, feature_title_3, feature_text_3)
  ul.product__features.row.center-sm
    li.product__feature.col-xs-12.col-sm-6.col-md-4
      .product__feature-img
      p.product__feature-title= feature_title_1
      p.product__feature-description= feature_text_1
    li.product__feature.col-xs-12.col-sm-6.col-md-4
      .product__feature-img
      p.product__feature-title= feature_title_2
      p.product__feature-description= feature_text_2
    li.product__feature.col-xs-12.col-sm-6.col-md-4
      .product__feature-img
      p.product__feature-title= feature_title_3
      p.product__feature-description= feature_text_3